# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/config.json

public/titlelogo.jpg

client_secret_588942216255-iiinohq39233cmv0iur4tl8vk4c8mur2.apps.googleusercontent.com
