.navbar {
}
.nav-item {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin-left: 22px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 100;
}

.nav-item.active {
  color: #dea43e;
}

.nav-item:hover {
  color: #dea43e;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.navbar-logo {
  width: 0;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  border: none;
  color: black;
  font-size: 1.5rem;
  background-color: #fff;
  padding: 10px;
}

.nav-links.open {
  display: block;
}
@media (max-width: 700px) {
  .menu-toggle {
    display: block;
  }

  .menu-toggle-container {
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 108%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ececec;
  }

  .nav-item {
    color: #8d8d8d;
    font-size: 12px;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ececec;
    margin-right: 0;
    margin-left: 0;
  }

  .nav-links.open {
    display: flex;
  }

  .navbar-logo-container {
    width: 60%;
  }

  .navbar-logo {
    width: 100%;
    border-radius: 300px;
  }
}
