.services-container {
  position: relative !important;
  min-height: 55vh;
  background-image: url("../images/services.avif");
  background-size: cover;
  background-position: 100% 20%;
  background-repeat: no-repeat;
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  font-weight: 400;
  letter-spacing: 0;
  font-family: Lustria, serif;
  font-size: 80px;
  margin-bottom: 75px;
}

.services-container-2 {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-container-3 {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f2f2;
}

.services-container-4 {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.services-container-5 {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f2f2;
}

.services-container-6 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.services-container-7 {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f2f2;
}

.services-container-8 {
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.services-container-9 {
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f2f2;
}

.services-container-4 .service-top::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  height: 1px;
  background: #cacaca;
  width: 87%;
  z-index: 5;
}

.services-container-5 .service-price {
  width: 50%;
}

.services-container-6 .service-top::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  height: 1px;
  background: #cacaca;
  width: 92%;
  z-index: 5;
}

.service-header {
  font-size: 45px;
  line-height: 1.3em;
  font-weight: 500;
  letter-spacing: 0;
  font-family: Lustria, serif;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.services-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service {
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.service-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.service-name {
  width: 85%;
  color: rgb(222, 164, 62);
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-family: Lustria, serif;
}

.service-duration {
  width: 85%;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
}

.service-price {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
}

.service-desc {
  color: #949393;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 25px;
}
.service-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.service-top::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  height: 1px;
  background: #cacaca;
  width: 95%;
  z-index: 5;
}

@media screen and (max-width: 700px) {
  .services-list {
    width: 100%;
    font-size: 0.8rem;
  }
  .service-header h1 {
    font-size: 1.5rem;
  }
  .service-name {
    font-size: 1rem;
  }
  .service-duration {
    font-size: 0.8rem;
  }
  .service-price {
    font-size: 0.8rem;
  }
  .services-container-4 .service-name {
    font-size: 0.6rem;
  }
  .services-container-4 .service-price {
    width: 50%;
  }
  .services-container-4 .service-top::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
    height: 1px;
    background: #cacaca;
    width: 76%;
    z-index: 5;
  }
}
